/* General */
.container{
    padding-top:100px;
}

body{
    background-color: #f9ced9;
}
 Table 

#dataTable{
    width: 10%;
}
#form{
    width: 90% !important;
}
/*
table, th, td {
    border: solid 1px;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}
*/
.serial table {
    counter-reset: id;
}

.serial tr{
    counter-increment: id;
}

.serial td:first-child::before{
    
    content: counter(id);
}


